.Card {
    background: rgba(57, 57, 57, 1);
    border-radius: 12px;
    width: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 2rem;
    filter: drop-shadow(4px 10px 20px #920000);
}

.Card div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}