.bgimage_speaker {
    background: url(../../assets/speakers_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateY(-1%);
}

.Anuj {
    background: #424242;
    box-shadow: 5px 5px 25px #FF1D1D;
    border-radius: 30px;
    min-height: 50%;
}