/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
 
}
.project .cont
{
  margin: 5%;
  background-color: #0000002d;
  /* background-image: url("../../assets/bg2.jpg"); */
    
}
.bgonly {
  background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("../../assets/backgroundnew.png");

}

.container {
 

  font-weight: 400;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
  margin: 0%;
}


p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}


.project h2 {
	font-size: 45px;
  margin-top: 1%;
  margin-bottom: 5%;
	font-weight: 700;
     text-align: center;
     padding: 2px;
     color: 	#ffffff;     
}


.proj-imgbx {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  width: 100%; 
  height: 100%; 
  
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(45.21deg, #c10f0f -5.91%, #ff4747 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 80%;
}
  .proj-imgbx:hover::before 
  {
    height: 100%;
  }

  .proj-txtx {
    top: 50%;
  }

  .proj-imgbx:hover .proj-txtx {
    opacity: 1;
  }


.proj-txtx h4 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.8px;
}
.proj-txtx a {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-right: 70px;
}

.project {
  padding: 20px;
  margin: 5%;
  margin-top: 0%;
  position: relative;
  background-color: black;
}
.project .cs {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  text-align: justify;
  text-justify: inter-word;
  width: 90%;
  padding: 0px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}
.proj-desc
{
  margin-right: 5%;
}
.project p {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 70%;
}
.proj-linkedin:hover {
  transform: scale(1.1);
}
a[href*="linkedin.com"] svg {
  width: 24px;
  height: 24px; 
  position: relative;
  top: 40px; 
  color: blue;
  right: 12.5px;
  left: 1px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card-wrapper {
  width: 20%;
  padding: 0 10px;
  box-sizing: border-box;
}
.mot{
  margin: 0%;
  padding: 0%;
}
.project{
  background-color: #c10f0f00;
  margin: 0;
 
}
 .desc-linkedin {
  display: flex;
  flex-direction: column;
}
 .desc-linkedin {
  display: flex;
  align-items: center;
}

 .desc {
  display: inline-block;
  width: 80%; /* adjust as needed */
}


.project .headingT
{
  text-decoration: none;
  font-size: 60px;
  margin-top: 1%;
  margin-bottom: 5%;
	font-weight: 700;
     text-align: center;
     padding: 2px;
     color: 	#ffffff;     
}
.red-text {
  color: red;
}

.white-text {
  color: white;
  text-decoration: none;
  border-bottom: none;
}
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 15rem;
	}
}
@media (max-width: 767px) {
  .project-card-wrapper {
    width: 100%;
    height: 100%;
    margin: 10%;
  }
  .project h2
  {
    font-size: larger;
    margin-top: 5%;
    margin-bottom: -15%;
  }
  .proj-imgbx {
    height: 100%;
    margin-bottom: 15px;
    border: #000000;
    border-width: 20%;
  }
  a[href*="linkedin.com"] svg {
    width: 24px;
    height: 24px; 
    top: 40px; 
    color:blue;
    right: 30px;
    left: -40px; /* adjust the left value to move the SVG more to the left */
  }
  
}
@media (max-width: 767px) { 
  .headingT
  {
    margin: 0%;
  }
  .headingT span.white-text:before {
    content: "";
  }
  @media (max-width: 767px) {
    .headingT span {
      display: block;
      font-size: 1.2em; /* Adjust font size as needed */
      line-height: 1em; /* Adjust line height as needed */
      text-align: center;
      word-spacing: 0; /* Add this line to remove the space */
    }
  }
  @media (max-width: 767px) {
  .headingT span {
    display: block;
    text-align: center;
    margin-bottom: 0.5em; /* Add space between the words */
  }
  .headingT span.white-text {
    margin-top: 0.5em; /* Adjust top margin for the second word */
  }
  @media (max-width: 767px) {
    .my-custom-class {
      font-size: 3rem;
      padding: 1rem;
      
    }
  }
  @media only screen and (max-width: 767px) {
    .project-card {
      width: 100%;
      height: 100%;
      /* add other styles as needed */
    }
  }
  
  
}

  
}
